.text-navbar-color {
    color: #FA804C;
}

.text-fashion-color {
    color: #363958;
}

.bg-fashion {
    background-color: #FFF9F4;
    ;
}
.text-paragraph-color{
    color:#3E3E3E;
}
.btn-color{
    background-color:#3D4FF3,100%
    #3543BC
    100% ;
}
.bg-items{
   background-color:#E5E5E5;
}
.bg-main{
    background-color: E5E5E5;
}